[Unit]
Description=ClamAV virus database updater
Documentation=man:freshclam(1) man:freshclam.conf(5) https://docs.clamav.net/
# If user wants it run from cron, don't start the daemon.
# ConditionPathExists=!/etc/cron.d/clamav-freshclam
Wants=network-online.target
After=network-online.target

[Service]
# Hint: The database directory must be writable for UID 0 or GID 0
ExecStartPre=-/usr/bin/mkdir -p /var/lib/clamav
ExecStartPre=-/usr/bin/chown -R 0:0 /var/lib/clamav
ExecStart=/usr/bin/freshclam -d --foreground=true

[Install]
WantedBy=multi-user.target
