name: Build ISO

on:
  workflow_call:
    inputs:
      image-registry:
        required: true
        type: string
      image-name:
        required: true
        type: string
      image-tag:
        required: true
        type: string
      flatpak-manifest-lists:
        required: true
        type: string
      upload-to-cloudflare:
        required: false
        type: boolean
        default: false
      r2-bucket:
        required: false
        type: string
      arch:
        required: false
        type: string
        default: amd64
      rootfs-setup-hook-template:
        required: true
        type: string
      secureboot-enrollment-password:
        required: false
        type: string
        default: password

jobs:
  build:
    runs-on: ${{ inputs.arch == 'amd64' && 'ubuntu-24.04' || 'ubuntu-24.04-arm' }}
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Maximize Build Space
        uses: ublue-os/remove-unwanted-software@cc0becac701cf642c8f0a6613bbdaf5dc36b259e # v9

      - name: Combine Flatpak Manifest Lists
        id: flatpak-manifest-list
        env:
          FLATPAK_MANIFEST_LISTS: ${{ inputs.flatpak-manifest-lists }}
        shell: bash
        run: |
          set -euox pipefail

          # Simply combine the Flatpak manifest lists into a single file
          MANIFESTS_FILE=$(mktemp)
          for manifest in $FLATPAK_MANIFEST_LISTS; do
            cat "$manifest" >> "$MANIFESTS_FILE"
          done

          echo "MANIFESTS_FILE=$MANIFESTS_FILE" >> $GITHUB_OUTPUT

      - name: Populate Setup Script
        shell: bash
        id: populate-setup-script
        env:
          SCRIPT: ${{ inputs.rootfs-setup-hook-template }}
          IMAGE_REF: ${{ inputs.image-registry }}/${{ inputs.image-name }}:${{ inputs.image-tag }}
          IMAGE_NAME: ${{ inputs.image-name }}
          SECUREBOOT_ENROLLMENT_PASSWORD: ${{ inputs.SECUREBOOT_ENROLLMENT_PASSWORD }}
          WORKSPACE_DIR: ${{ github.workspace }}
        run: |
          set -euox pipefail

          # Populate the setup script template with the values from the environment
          # and save it to the rootfs-setup-hook.sh file
          # Values to be replaced are enclosed in double curly braces
          cp "$SCRIPT" rootfs-setup-hook.sh
          sed -i "s|{{IMAGE_REF}}|$IMAGE_REF|g" rootfs-setup-hook.sh
          sed -i "s|{{IMAGE_NAME}}|$IMAGE_NAME|g" rootfs-setup-hook.sh
          sed -i "s|{{SECUREBOOT_ENROLLMENT_PASSWORD}}|$SECUREBOOT_ENROLLMENT_PASSWORD|g" rootfs-setup-hook.sh
          chmod +x rootfs-setup-hook.sh

          echo "ROOTFS_SETUP_HOOK=${WORKSPACE_DIR}/rootfs-setup-hook.sh" >> $GITHUB_OUTPUT

      - name: Build ISO
        uses: ublue-os/titanoboa@8a4e6f17e29687414d91627e6f977169c1d36939 # main
        id: build-iso
        with:
          image-ref: ${{ inputs.image-registry }}/${{ inputs.image-name }}:${{ inputs.image-tag }}
          flatpaks-list: ${{ steps.flatpak-manifest-list.outputs.MANIFESTS_FILE }}
          hook-post-rootfs: ${{ steps.populate-setup-script.outputs.ROOTFS_SETUP_HOOK }}

      - name: Rename ISO
        id: rename-iso
        shell: bash
        env:
          ISO_DEST: ${{ steps.build-iso.outputs.iso-dest }}
          IMAGE_NAME: ${{ inputs.image-name }}
          IMAGE_TAG: ${{ inputs.image-tag }}
          ARCH: ${{ inputs.arch }}
        run: |
          set -euox pipefail

          # Rename the ISO file to include the image name, tag, and architecture
          ISO_FILE=$(ls ${{ steps.build-iso.outputs.iso-dest }} | grep -E '\.iso$')
          IMAGE_NAME=${{ inputs.image-name }}
          IMAGE_TAG=${{ inputs.image-tag }}
          ARCH=${{ inputs.arch }}
          NEW_ISO_NAME="${IMAGE_NAME}-${IMAGE_TAG}-${ARCH}-live"
          NEW_ISO_DIR="$(dirname "${ISO_FILE}")"
          mv "${ISO_FILE}" "${NEW_ISO_DIR}/${NEW_ISO_NAME}.iso"

          echo "ISO_DEST=${NEW_ISO_DIR}/${NEW_ISO_NAME}.iso" >> $GITHUB_OUTPUT

      - name: Upload ISO to GitHub
        if: inputs.upload-to-cloudflare == false
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: ${{ inputs.image-name }}-${{ inputs.image-tag }}-${{ inputs.arch }}-iso
          path: |
            ${{ steps.rename-iso.outputs.ISO_DEST }}

      - name: Upload ISO to CloudFlare R2
        if: inputs.upload-to-cloudflare == true
        shell: bash
        env:
          RCLONE_CONFIG_R2_TYPE: s3
          RCLONE_CONFIG_R2_PROVIDER: Cloudflare
          RCLONE_CONFIG_R2_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
          RCLONE_CONFIG_R2_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          RCLONE_CONFIG_R2_REGION: auto
          RCLONE_CONFIG_R2_ENDPOINT: https://${{ secrets.CLOUDFLARE_ACCOUNT_ID }}.r2.cloudflarestorage.com
          SOURCE_FILE: ${{ steps.rename-iso.outputs.ISO_DEST }}
          DEST_BUCKET: ${{ inputs.r2-bucket }}
        run: |
          sudo apt-get update
          sudo apt-get install -y rclone
          rclone copy $SOURCE_FILE R2:$DEST_BUCKET
