name: Build ISOs

on:
  pull_request:
    paths:
      - ".github/workflows/*build-iso.yml"
      - "iso/**"
  schedule:
    # Every week at midnight on Monday
    - cron: "0 0 * * 1"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}-iso
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/_build-iso.yml
    strategy:
      fail-fast: false
      matrix:
        image-name:
          - silverblue
          - cosmic
        image-tag:
          - 43
          - 43-nvidia
        arch:
          - amd64
    secrets: inherit
    with:
      image-name: ${{ matrix.image-name }}
      image-registry: ghcr.io/rsturla/eternal-linux/main
      image-tag: ${{ matrix.image-tag }}
      rootfs-setup-hook-template: ./iso/configure.sh.tmpl
      arch: ${{ matrix.arch }}
      upload-to-cloudflare: false
      r2-bucket: ${{ vars.R2_BUCKET_NAME }}
      flatpak-manifest-lists: |
        iso/flatpaks/base
        iso/flatpaks/${{ matrix.image-name }}
