name: Pre-Commit CI

on:
  pull_request:
    paths:
      - .pre-commit-config.yml
      - .github/workflows/pre-commit.yml
  push:
    branches:
      - main
    paths:
      - .pre-commit-config.yml
      - .github/workflows/pre-commit.yml

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Run pre-commit
        uses: ./.github/actions/run-pre-commit
