name: Sign Image

on:
  workflow_dispatch:
    inputs:
      image:
        description: 'The image to sign, including the tag'
        required: true

jobs:
  sign-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Login to GHCR
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get digest
        id: get-digest
        env:
          IMAGE_TO_SIGN: ${{ inputs.image }}
        run: |
          docker pull quay.io/skopeo/stable:latest
          digest=$(docker run quay.io/skopeo/stable:latest inspect docker://$IMAGE_TO_SIGN --format '{{.Digest}}')
          name=$(docker run quay.io/skopeo/stable:latest inspect docker://$IMAGE_TO_SIGN --format '{{.Name}}')
          echo "DIGEST=$digest" >> $GITHUB_OUTPUT
          echo "NAME=$name" >> $GITHUB_OUTPUT

      - name: Setup Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Sign Image
        env:
          SIGNING_KEY: ${{ secrets.ETERNAL_LINUX_SIGNING_KEY }}
          COSIGN_EXPERIMENTAL: false
          COSIGN_PASSWORD: ${{ secrets.ETERNAL_LINUX_SIGNING_KEY_PASSPHRASE }}
          IMAGE_NAME: ${{ steps.get-digest.outputs.NAME }}
          IMAGE_DIGEST: ${{ steps.get-digest.outputs.DIGEST }}
        run: |
          cosign sign -y --key env://SIGNING_KEY $IMAGE_NAME@$IMAGE_DIGEST
